ClientZGUI/Service References/GeneticService/GeneticService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GeneticService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IGenetic_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8888/GeneticService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8888/GeneticService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8888/GeneticService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GeneticWCF" />
      <xsd:import schemaLocation="http://localhost:8888/GeneticService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGenetic_startAlg_InputMessage">
    <wsdl:part name="parameters" element="tns:startAlg" />
  </wsdl:message>
  <wsdl:message name="IGenetic_startAlg_OutputMessage">
    <wsdl:part name="parameters" element="tns:startAlgResponse" />
  </wsdl:message>
  <wsdl:message name="IGenetic_startAlgWithPopulation_InputMessage">
    <wsdl:part name="parameters" element="tns:startAlgWithPopulation" />
  </wsdl:message>
  <wsdl:message name="IGenetic_startAlgWithPopulation_OutputMessage">
    <wsdl:part name="parameters" element="tns:startAlgWithPopulationResponse" />
  </wsdl:message>
  <wsdl:portType name="IGenetic">
    <wsdl:operation name="startAlg">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenetic/startAlg" message="tns:IGenetic_startAlg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenetic/startAlgResponse" message="tns:IGenetic_startAlg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="startAlgWithPopulation">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenetic/startAlgWithPopulation" message="tns:IGenetic_startAlgWithPopulation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenetic/startAlgWithPopulationResponse" message="tns:IGenetic_startAlgWithPopulation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IGenetic" type="tns:IGenetic">
    <wsp:PolicyReference URI="#WSHttpBinding_IGenetic_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="startAlg">
      <soap12:operation soapAction="http://tempuri.org/IGenetic/startAlg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startAlgWithPopulation">
      <soap12:operation soapAction="http://tempuri.org/IGenetic/startAlgWithPopulation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeneticService">
    <wsdl:port name="WSHttpBinding_IGenetic" binding="tns:WSHttpBinding_IGenetic">
      <soap12:address location="http://localhost:8888/GeneticService/GeneticService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8888/GeneticService/GeneticService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>