ClientZGUI/Service References/GeneticService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GeneticWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GeneticWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/GeneticService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Point" nillable="true" type="tns:Point" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPoint" nillable="true" type="tns:ArrayOfPoint" />
  <xs:complexType name="Point">
    <xs:sequence>
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Point" nillable="true" type="tns:Point" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="population" nillable="true" type="q1:ArrayOfArrayOfint" />
      <xs:element minOccurs="0" name="timeOfCounting" type="xs:long" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ways" nillable="true" type="q2:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>