ClientZGUI/Service References/GeneticService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/GeneticService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GeneticWCF" />
  <xs:import schemaLocation="http://localhost:8888/GeneticService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="startAlg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countOfPoints" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GeneticWCF" minOccurs="0" name="points" nillable="true" type="q1:ArrayOfPoint" />
        <xs:element minOccurs="0" name="startPoint" type="xs:int" />
        <xs:element minOccurs="0" name="lengthOfPopulation" type="xs:int" />
        <xs:element minOccurs="0" name="countOfGenerations" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startAlgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GeneticWCF" minOccurs="0" name="startAlgResult" nillable="true" type="q2:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startAlgWithPopulation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countOfPoints" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GeneticWCF" minOccurs="0" name="points" nillable="true" type="q3:ArrayOfPoint" />
        <xs:element minOccurs="0" name="startPoint" type="xs:int" />
        <xs:element minOccurs="0" name="lengthOfPopulation" type="xs:int" />
        <xs:element minOccurs="0" name="countOfGenerations" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="population" nillable="true" type="q4:ArrayOfArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startAlgWithPopulationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GeneticWCF" minOccurs="0" name="startAlgWithPopulationResult" nillable="true" type="q5:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>